[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
flask-restx = "*"
cryptography = "*"
alembic = "*"
bcrypt = "*"
Flask = "*"
Flask-RESTful = "*"
Flask-SQLAlchemy = "*"
PyMySQL = "*"
Flask-Bcrypt = "*"
Flask-HTTPAuth = "*"
coverage = "*"
flask-testing = "*"

[dev-packages]

[requires]
python_version = "3.8"
