[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-restful = "*"
flask-sqlalchemy = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
flask-restx = "*"
pymysql = "*"
cryptography = "*"
alembic = "*"
bcrypt = "*"
flask-bcrypt = "*"
flask-httpauth = "*"

[dev-packages]

[requires]
python_version = "3.8"
